﻿@model List<OnlineShopping.DAL.USP_MemberShoppingCartDetails_Result>
@{     ViewBag.Title = "MyCart"; Layout = "~/Views/Shared/_FrontLayout.cshtml"; }
<style>
    .detailLeft {
        width: 20% !important;
        position: relative;
    }

    .detailRight {
        width: 80%;
    }

    .DservicesImg img {
        width: 140px;
    }

    .FilterBox {
        max-height: 200px;
        overflow: auto;
    }

    .RemoveCartBtn {
        background-color: #005faa;
        color: white;
        padding: 10px 0;
        width: 100%;
        cursor: pointer;
        max-width: 160px;
        margin: 22px;
        display: table;
        border: 1px solid transparent;
        text-align: center;
        text-decoration: none;
        font-family: 'Open Sans';
        text-transform: capitalize;
        position: absolute;
        right: 0;
        top: 0;
    }

    .innerDetails {
        height: auto !important;
        position: relative;
    }

    .detailservicesBox {
        border: none !important;
    }
</style>
<div id="dvFilterSearch" style="margin-top:30px;">
    <div class="mainServices clearfix">
        <div class="container">
            <h2 style="margin:20px;text-align:center;font-weight:bold;">My Cart Details</h2>             <!-- Start servicesRight-->             <div class="servicesRight">
                @if (Model.Count() > 0)
                {                 <!--Start pricelowHigh-->                     <div class="pricelowHigh clearfix">
                    <!--Start Services Man-->
                    <div class="tabContent" id="tab2">
                        <!--Start Services Man-->                             <div class="servicesPerson clearfix">
                            @foreach (var item in Model)
                {                         <!--Start detailServicesBox-->                                     <div class="detailservicesBox clearfix">
                <div class="detailLeft fl">
                    <div class="DservicesImg">
                        @if (File.Exists(Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "/Medium/" + item.ProductId + "_" + item.ProductImage)))
                        {
                            <img src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage"]+"/Medium/"+item.ProductId+ "_"+item.ProductImage)" alt="img" />                                                 }
                        else
                        {                                                     <img src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage_Default"])" alt="img" />                                                 }
                    </div>
                </div>                                         <div class="detailRight fr">                                             <div class="innerDetails">                                                 <h1><a title="View Product Detail" href="/search/ProductDetail?pId=@item.ProductId">@item.ProductName</a></h1>                                                 <h3>Category <a style="cursor:pointer" title="Click to View the products of this category" href="/search/knowbleprofile?pId=@item.ProductId">@(item.ProductName)</a></h3>                                                    <p><b>Price : </b><b>@item.Price</b></p>                                                         <p><a href="/shopping/removecartitem?productId=@item.ProductId" onclick="show_progress();" class="RemoveCartBtn">Remove from cart</a></p>                                                     </div>                                                 </div>
            </div>                                 }
                        </div>
                    </div>
                </div>                 }
                else
                {                     <div class="tabContent" id="tab3">                         <div class="clearfix">                             <div class="detailservicesBox clearfix">                            <div style="background-color: #fff; text-align: center; padding: 40% 0; ">                                     <h2>No Records found</h2>                                 </div>                             </div>                         </div>                     </div>                 }
            </div>
        </div>
    </div>
</div>
