﻿@model List<OnlineShopping.DAL.USP_MemberShoppingCartDetails_Result>
@{
    ViewBag.Title = "MyCart";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<style>
    .checkout {
        background-color: forestgreen;
        top: 54px;
        width: 203px;
        right: 86px;
        font-size: 14px;
    }
</style>

<div id="dvFilterSearch" style="margin-top:30px;">
    <div class="mainServices clearfix">
        <div class="container">
            <h2 style="margin:20px;text-align:center;font-weight:bold;">
                Checkout
            </h2>
            <!-- Start servicesRight-->
            <div class="servicesRight1">
                @if (Model.Count() > 0)
                {
                    <div style="background-color: white;  padding: 20px;">
                        <b>You have following @Model.Count() items in your cart</b>
                        <br /><br />
                        @foreach (var item in Model)
                        {
                            <h3><a title="View Product Detail" href="/search/ProductDetail?pId=@item.ProductId"> <b> @item.ProductName</b>,  </a> <span>Price : </span><b>@(item.Price*item.Quantity)</b></h3>
                        }
                    </div>
                }
                else
                {
                    <div class="tabContent" id="tab3">
                        <div class="clearfix">
                            <div class="detailservicesBox clearfix">
                                <div style="background-color: #fff; text-align: center; padding: 40% 0; ">
                                    <h2>No Records found</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <br />
                <br />
                <h3 style="font-weight: bold;color: brown;"> Total Amount to Pay : @Model.Sum(i =>i.Price*i.Quantity)</h3>
                @Html.Partial("_ShippingAddress", new OnlineShopping.Models.ShippingDetails())
            </div>
        </div>
    </div>
</div>

