﻿@model List<OnlineShopping.DAL.USP_MemberShoppingCartDetails_Result>
@{
    ViewBag.Title = "MyCart";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<style>
    .checkout {
        background-color: forestgreen;
        /* float: right; */
        top: 54px;
        width: 203px;
        right: 86px;
        font-size: 14px;
    }
</style>

<div id="dvFilterSearch" style="margin-top:30px;">
    <div class="mainServices clearfix">
        <div class="container">

            <h2 style="margin:20px;text-align:center;font-weight:bold;">
                My Cart Details
                @if (Model.Count() > 0)
                { <a style="" class="RemoveCartBtn checkout" href="/shopping/checkout">Proceed to Checkout</a>}
            </h2>
            <!-- Start servicesRight-->
            <div class="servicesRight1">
                @if (Model.Count() > 0)
                {

                        <!--Start pricelowHigh-->
                    <div class="pricelowHigh clearfix">
                        <!--Start Services Man-->
                        <div class="tabContent" id="tab2">
                            <!--Start Services Man-->
                            <div class="servicesPerson1 clearfix">
                                @*@foreach (var item in Model)*@
                                @for (int i = 0; i < Model.Count; i++)

                                {
                                    var item = Model[i];
                                         <!--Start detailServicesBox-->
                                    <div class="detailservicesBox clearfix">
                                        <div class="detailLeft fl">
                                            <div class="DservicesImg1">
                                                @if (File.Exists(Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "/Medium/" + item.ProductId + "_" + item.ProductImage)))
                                                {
                                                    <img style="height: 90px;" src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage"]+"/Medium/"+item.ProductId+ "_"+item.ProductImage)" alt="img" />
                                                }
                                                else
                                                {
                                                    <img style="height: 90px;" src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage_Default"])" alt="img" />
                                                }
                                            </div>
                                        </div>
                                        <div class="detailRight fr">
                                            <div class="innerDetails">
                                                <h1><a title="View Product Detail" href="/search/ProductDetail?pId=@item.ProductId">@item.ProductName</a></h1>
                                                <h3>Category <a style="cursor:pointer" title="Click to View the products of this category" href="/search/Index?searchKey=@item.CategoryName">@(item.CategoryName)</a></h3>
                                                <p><b>Price : </b><b>@item.Price</b></p>
                                                <div style="top:30px;left:30%;position:absolute; text-align:center;vertical-align:middle">

                                                    <b>Quantity : </b><b>
                                                        @Html.DropDownList("ddlQty", new SelectList(
                                                            Enumerable.Range(1, 30).Select(x => new { Value = x, Text = x }),
                                                            "Value",
                                                            "Text", item.Quantity
                                                        ), new { @id = "ddlQty" + i.ToString(), @name = "ddlQty" + i.ToString(), @onchange = "postData(" + item.ProductId.ToString() + ",this);" })
                                                    </b>
                                                </div>

                                                <p><a href="/shopping/removecartitem?productId=@item.ProductId" onclick="show_progress();" class="RemoveCartBtn">Remove from cart</a></p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="tabContent" id="tab3">
                        <div class="clearfix">
                            <div class="detailservicesBox clearfix">
                                <div style="background-color: #fff; text-align: center; padding: 40% 0; ">
                                    <h2>No Records found</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="message" style="width:300px;height:100px;display:none;text-wrap:none;font-weight:bold; color:green;left:50%;position:absolute;left:40%"></div>
<script type="text/javascript">
    //$(document).ready(function () {
    //$("#ddlQty").change(
    function postData(productId, c) {


        var $url = '/Shopping/UpdateQuantity';
        var name = '#' + c.id;
        var qty = $(name).val();

        $.ajax({
            url: $url,
            type: 'POST',
            datatype: "json",
            data: { productId: productId, quantity: qty },
            success: function (response) {
                var $messageDiv = $('#message'); // get the reference of the div
                $messageDiv.show().html('The quantity saved sucessfully'); // show and set the message
                setTimeout(function () { $messageDiv.hide().html(''); }, 2000);
            },
            error: function (xhr, status, error) {

                alert(error);
            }
        });
    }//);
    //});
</script>