﻿@{
    ViewBag.Title = "Online Shopping : Home Page";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    List<OnlineShopping.DAL.Tbl_Product> Products = (List<OnlineShopping.DAL.Tbl_Product>)ViewBag.Products;
}
<style>
    .profPerson .ProfImg {
        width: 240px;
        height: 153px;
    }

    .assistImg .transition {
        height: 107px;
    }
</style> <div class="homeSlider">
    <div class="bannerSlider" style="background: url(../images/HomePageBanner1.png) no-repeat center center;">     </div>     <div class="searchOnline clearfix">
        <div class="container">
            <div class="olContent fl"><h2>Search Product/Category</h2></div>
            <div class="olSearch fr">
                @using (Html.BeginForm("Index", "Search", FormMethod.Post))
                {
                    <div>
                        <input type="text" placeholder="Enter Keywords" onkeypress="return onlynumericOrCharacter();" name="searchKey" class="inputComn houseText">
                    </div>
                    <div class="searchIcon">
                        <button type="button" class="searchBtn" onclick="$(this).parent().parent().submit();">
                            <img src="/images/searchIcon.png" alt="img">
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div> <!--End Slider--> <!--Start Featured Professionals--> <div class="featuredProfessionals">
    <div class="container">
        <h1>Products</h1>
        <div class="professionSLider">
            <div class="profSlider">
                @foreach (var product in Products)
                {
                    <div class="item">
                        <div class="profPerson">

                            @if (File.Exists(Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "Medium/" + product.ProductId + "_" + product.ProductImage)))
                            {
                                <img class="ProfImg" title="Click to view product detail" style="cursor:pointer;" onclick="window.location.href ='/search/productdetail?pId=@product.ProductId'" src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "Medium/" + product.ProductId+"_"+product.ProductImage)" />
                            }
                            else
                            {
                                <img class="ProfImg" title="Click to view product detail" style="cursor:pointer;" onclick="window.location.href ='/search/productdetail?pId=@product.ProductId'" src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage_Default_Medium"])" alt="" />
                            }
                            <div class="profMid clearfix">
                                <h2 title="Click to view product detail" style="cursor:pointer;"><a href="/search/productdetail?pId=@product.ProductId">  @product.ProductName</a></h2>                                 <div class="leftprof fl">
                                    <text>
                                        Category <a title="Products of this category" style="cursor:pointer;" href="/search?searchkey=@product.Tbl_Category.CategoryName">@product.Tbl_Category.CategoryName</a>
                                    </text>
                                </div>
                            </div>
                        </div>
                        <div class="profLast clearfix">
                            <div class="leftprofLast fl"><h4>Price</h4></div>
                            <div class="rightprofLast fr"><h5>@(product.Price)</h5></div>
                        </div>
                    </div>
                }
            </div>
            <div class="left-symbol"><img src="/Images/sliderRightarrow.png" alt="images"></div>             <div class="right-symbol"><img src="/Images/sliderLeftarrow.png" alt="images"></div>
        </div>
    </div>
</div>
<!--End product Professionals-->
@section Scripts{
    <script>
      window.onload = function () {
      if ('@Request.QueryString["returnUrl"]' != '') {
       $('#returnUrl').val('@Request.QueryString["returnUrl"]')
       $('.loginpopup').trigger('click');
    }

    if ('@(Request.UrlReferrer !=null ?Request.UrlReferrer.AbsolutePath.ToLower():"")' == '/account/resetpassword') {
                   $('.loginpopup').trigger('click');
    }
                          if('@TempData["VerificationLinlMsg"]'!='')             {
     swal('@TempData["VerificationLinlMsg"]', '', 'success');
     }         }     </script> }  